$bodyFF: 'Montserrat', sans-serif;

$h1Size: 52px;
$h1Wight:bold;
$h1Color: white;

$h4Size: 22px;
$h4Wight:bold;
$h4Color:white;

$enterSize:14px;
$enterWight: normal;
$enterColor: white;

$spanTitleSize: 24px;
$spanTitleWight: lighter;

$buttonBG: #FF4E50;
$butonBR: 40px;
$buttonB: 1px solid  #FF4E50;
$buttonFS: 14px;
$buttonFW: bold;
$buttonColor:white;

$h2Size: 26px;
$h2Style: normal;
$h2Color: black;
$h2Wight: bold;

$h3Style: normal;
$h3Weight: bold;
$h3Size: 24px;
$h3Color:white;

$img-spanStyle: normal;
$img-spanWeight: 300;
$img-spanSize: 14px;
$img-spanLH: 14px;

$h6Style: normal;
$h6Weight: bold;
$h6Size: 14px;
$h6LH: 17px;

$interestSize: 18px;
$interestColor: rgba(102, 102, 102, 1);





$h2SizeMedium: 22px;




